*{
    padding: 0;
    margin: 0;
}
.div1{
    box-sizing: border-box;
    background-color: rgb(255, 230, 0);
    padding: 10px;
    border: 10px solid rgb(51, 255, 0) ;
    width: 100px;
    height: 100px;
    
}
.div2{
    background-color: rgb(181, 184, 228);
    padding: 10px;
    border: 10px solid green;
    
    width: 100px;
    height: 100px;
}
