*{
    padding: 0;
    margin: 0;
}
.div1{
    background-color: aqua;
    padding: 10px;
    border: 10px solid red ;
    margin: 10px;
    width: 100px;
    height: 100px;
}
.div2{
    background-color: rgb(11, 26, 226);
    padding: 10px;
    border: 10px solid green;
    margin: 10px;
}
